@use "@assets/scss/bundle" as *;

.button {
  @include flex(row, center, center);
  flex-shrink: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: gray;
  mask: url("/pen-to-square-solid-full.svg") no-repeat center;
  @include trans(background-color);

  &:hover {
    background-color: black;
  }
}
