@use "@assets/scss/bundle" as *;

.column {
  background-color: var(--column-bg);
  padding: 10px;
  border-radius: 5px;

  // .column__header
  &__header{
    @include flex($jc: space-between);
  }

  // .column__title

  &__title {
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text-h);
  }

  // .column__cards

  &__cards {
    @include flex(column);
    gap: 10px;
  }
}
