@use "@assets/scss/bundle" as *;

.modal-card {
  @include flex(column);
  gap: 20px;
  min-width: 300px;
}
.title {
  font-size: rem(18);
  font-weight: 700;
}
.author {
  padding-top: 5px;
  border-top: 1px solid;
  font-size: rem(14);
}
