@use "@assets/scss/bundle" as *;

.card {
  background-color: white;
  border-radius: 5px;
  padding: 5px;

  // .card__header
  &__header {
    @include flex(row, space-between, center);
    border-bottom: 1px solid var(--border);
    padding-bottom: 5px;
  }
  // .card__title

  &__title {
    font-weight: 500;
    word-break: break-all;
  }

  // .card__button

  &__button {
    @include flex(row, center, center);
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: gray;
    mask: url("/pen-to-square-solid-full.svg") no-repeat center;
    @include trans(background-color);

    &:hover {
      background-color: black;
    }
  }

  // .card__content
  &__content {
    font-size: rem(12);
    padding-top: 5px;
  }
  // .card__footer

  &__footer {
    padding-top: 5px;
  }
  // .card__author

  &__author {
    font-size: rem(12);
  }

  // .card__buttons
  &__buttons {
    @include flex(row, space-between, center, 5px);
    flex-wrap: wrap;
  }
}
